.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-child {
    width: 1300px;

    &-titles {
      display: flex;
      flex-direction: column;
      gap: 45px;
      margin: 35px 0;
    }
  }
}
